[Unit]
Description=Authentication Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/java -jar /home/nodeadm/distfiles/auth/authenticator-0.0.1-SNAPSHOT.war
WorkingDirectory=/home/nodeadm/distfiles/auth
User=nodeadm
Group=nodeadm
Restart=always

[Install]
WantedBy=multi-user.target