[Unit]
Description=Location service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/java -jar /home/nodeadm/distfiles/location/bike_sharing_location-0.0.1-SNAPSHOT.war
WorkingDirectory=/home/nodeadm/distfiles/location
User=nodeadm
Group=nodeadm
Restart=always

[Install]
WantedBy=multi-user.target